body{
    background: rgb(253, 252, 249);
}

.parallax {
    background-image: url("https://d3l5km62wihk9w.cloudfront.net/media/images/Books_within_books.width-1200.format-jpeg.jpg");

    min-height: 100vh;
    opacity: 0.5;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    place-content: center;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

.text-box {
    background-color: rgb(32, 30, 30);

    text-shadow: 2px 2px 2px rgb(42, 95, 102);

    box-shadow: 3px 3px 3px black; 

    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

p.intro {
    color: rgb(49, 115, 124);
    opacity: 0.8;

    font-size: 19px;

    text-align: center;
    margin-top: 50px;
    display: block;
    margin-left: 500px;
    margin-right: 500px;

    line-height: 1.6;
}

h3.games {
    color: rgb(81, 97, 99);
    font-size: 25px;

    margin-left:900px;
    margin-bottom: 7px;
    position: relative;
    bottom:-80px;

    text-shadow: 2px 2px 2px rgb(173, 231, 238);
}

img.games {
    width: 10%;
    
    float: left;
    margin-left:300px;
    margin-bottom:30px;
    margin-top:15px;
    margin-right: 200px;

    border-radius: 10px;
}

p.games {
    color: rgb(49, 115, 124);
    opacity: 0.8;

    font-size: 19px;

    text-align: center;
    margin-left: 500px;
    margin-right: 300px;
    margin-top: 100px;

    line-height: 1.6;
}

h3.sunkissed {
    color: rgb(81, 97, 99);
    font-size: 25px;

    margin-left:1025px;
    margin-bottom: 7px;
    margin-top: 120px;
    position: relative;
    bottom:-80px;

    text-shadow: 2px 2px 2px rgb(173, 231, 238);
}

img.sunkissed {
    width: 10%;
    
    float: left;
    margin-left: 300px;
    margin-bottom:30px;
    margin-top:15px;
    margin-right: 200px;

    border-radius: 10px;
}

p.sunkissed {
    color: rgb(49, 115, 124);
    opacity: 0.8;

    font-size: 19px;

    text-align: center;
    margin-left: 500px;
    margin-right: 300px;
    margin-top: 100px;

    line-height: 1.6;
}

h3.my-life {
    color: rgb(81, 97, 99);
    font-size: 25px;

    margin-left:900px;
    margin-bottom: 7px;
    margin-top: 150px;
    position: relative;
    bottom:-80px;

    text-shadow: 2px 2px 2px rgb(173, 231, 238);
}

img.my-life {
    width: 10%;
    
    float: left;
    margin-left: 300px;
    margin-bottom:30px;
    margin-top:15px;
    margin-right: 200px;

    border-radius: 10px;
}

p.my-life {
    color: rgb(49, 115, 124);
    opacity: 0.8;

    font-size: 19px;

    text-align: center;
    margin-left: 500px;
    margin-right: 300px;
    margin-top: 100px;

    line-height: 1.6;
}

img.home-btn {
    width: 7%;

    margin-left: 225px;
    margin-top:125px;
    margin-bottom:20px;
}

img.home-btn:hover {
    filter: drop-shadow(3px 3px 3px black)
}