h1 {
    color: rgb(81, 97, 99);

    text-align: center;

    text-decoration: underline;
    text-decoration-style:wavy;
    text-decoration-thickness: 1.75px;
    text-decoration-color: rgb(152, 198, 204);

    text-shadow: 2px 2px 2px rgb(173, 231, 238);


    opacity: 0.6;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-right: 300px;
    margin-left: 800px;

    font-family: "Patrick Hand SC", cursive;
    text-transform: uppercase;

    letter-spacing: 4px;
    word-spacing: 3px;

    font-size: 40px;
}


body{
    background: rgb(253, 252, 249);
    margin: 0;
    padding: 0;
}

p.intro{
    color: rgb(49, 115, 124);
    opacity: 0.8;

    margin-bottom:600px;
    margin-right: 300px;
    margin-left: 900px;

    font-family: "Patrick Hand", cursive;
    line-height: 2;

    font-size: 21px;
}

p.buttonintro {
    color: rgb(81, 97, 99);
    text-shadow: 2px 2px 2px rgb(173, 231, 238);

    display: inline-block;
    margin-left: 860px;
    margin-top: -300px;


    font-family: "Patrick Hand SC", cursive;
    text-transform: uppercase;

    position: relative;
    top:-500px;

    font-size: 30px;
}

img.shake-img {
   width: 100%;
   max-width: 300px;
   height: auto;

   margin-left: 310px;
   margin-top: -1100px;
   margin-bottom: 740px;

   border-radius: 28px;

   transform: rotate(-6deg);

}

.shake-img.infinite {
    animation: shake-animation 5s infinite reverse;
}

.shake-img:hover {
    animation-play-state: paused;
}

@keyframes shake-animation {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1deg); }
    20% { transform: translate(-4px, 1px) rotate(1deg); }
    30% { transform: translate(4px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(4px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 3px) rotate(0deg); }
    99% { transform: translate(2px, -3px) rotate(-1deg); }
    100% { transform: translate(2px, -1px) rotate(-0.5deg); }

}

img.border-img {
    width: 300px;
    height: auto;

    margin-left: -200px;
    margin-top: -1000px;
    margin-bottom: 690px;

    transform: rotate(-6deg);
}

.border-img.infinite {
    animation: shake-animation 5s infinite reverse;
}

.border-img:hover {
    animation-play-state: paused;
}

img.topborder-img {
    width: 300px;
    height: auto;

    margin-left: -520px;
    margin-top: -1000px;
    margin-bottom: 1010px;

    transform: rotate(-186deg);
}

.topborder-img.infinite {
    animation: shake-animation-two 5s infinite reverse;
}

.topborder-img:hover {
    animation-play-state: paused;
}

@keyframes shake-animation-two {
    0% { transform: translate(2px, 2px) rotate(174deg); }
    10% { transform: translate(-2px, -3px) rotate(173deg); }
    20% { transform: translate(-4px, 1px) rotate(175deg); }
    30% { transform: translate(4px, 3px) rotate(174deg); }
    40% { transform: translate(2px, -2px) rotate(175deg); }
    50% { transform: translate(-2px, 3px) rotate(173deg); }
    60% { transform: translate(-4px, 2px) rotate(174deg); }
    70% { transform: translate(4px, 2px) rotate(173deg); }
    80% { transform: translate(-2px, -2px) rotate(175deg); }
    90% { transform: translate(2px, 3px) rotate(174deg); }
    99% { transform: translate(2px, -3px) rotate(173deg); }
    100% { transform: translate(2px, -1px) rotate(174.5deg); }
}

img.header-img {
    width: 100%;
    max-width: 1500px;
    display: block;
    margin: 0 auto;
}

img.artbutton-img {
    width: 15%;
    display: block;

    margin-left: 200px;
    margin-top: -365px;

}

img.musicbutton-img {
    width: 15%;
    display: inline-block;

    margin-left: 600px;
    margin-top: -370px;
}

img.travelingbutton-img {
    width: 15%;
    display: inline-block;

    margin-left: 1000px;
    margin-top: -415px;
}

img.booksbutton-img {
    width: 15%;
    display: inline-block;

    margin-left: 1400px;
    margin-top: -370px;
}

