:root { /*whole CSS color palette*/
    --bg-body: rgb(253, 252, 249); /*body bg*/
    --scrollbar: rgb(218, 218, 218); /*scrollbar track*/
    --scrollbar-base-1: rgb(169, 118, 149); /*scrollbar base color 1*/
    --scrollbar-base-2: rgb(123, 92, 137); /*scrollbar base color 2*/
    --scrollbar-base-3: rgb(60, 152, 164); /*scrollbar base color 3*/
    --scrollbar-base-4: rgb(61, 171, 166); /*scrollbar base color 4*/
    --scrollbar-hover-1: rgb(225, 158, 198); /*scrollbar hover color 1*/
    --scrollbar-hover-2: rgb(193, 146, 215); /*scrollbar hover color 2*/
    --scrollbar-hover-3: rgb(77, 196, 211); /*scrollbar hover color 3*/
    --scrollbar-hover-4: rgb(78, 219, 212); /*scrollbar hover color 4*/
    --bg-navbar: rgb(131, 200, 222); /*navbar*/
    --navbar-text: white; /*navbar text headings/links*/
    --navbar-text-hover: rgb(70, 139, 158); /*navbar text color on hover*/
    --auto-typing-text: rgb(121, 173, 180); /*auto typing text base*/

    --title: rgb(169, 118, 149), rgb(123, 92, 137), rgb(60, 152, 164), rgb(61, 171, 166), rgb(169, 118, 149); /*title gradient*/
}

.darkmode { /*color palette for dark mode*/
    background-image: url(images/darkmodebg.svg);
    --bg-body: black; /*body bg*/
    --scrollbar: rgb(218, 218, 218); /*scrollbar track*/
    --scrollbar-base-1: rgb(169, 118, 149); /*scrollbar base color 1*/
    --scrollbar-base-2: rgb(123, 92, 137); /*scrollbar base color 2*/
    --scrollbar-base-3: rgb(60, 152, 164); /*scrollbar base color 3*/
    --scrollbar-base-4: rgb(61, 171, 166); /*scrollbar base color 4*/
    --scrollbar-hover-1: rgb(225, 158, 198); /*scrollbar hover color 1*/
    --scrollbar-hover-2: rgb(193, 146, 215); /*scrollbar hover color 2*/
    --scrollbar-hover-3: rgb(77, 196, 211); /*scrollbar hover color 3*/
    --scrollbar-hover-4: rgb(78, 219, 212); /*scrollbar hover color 4*/
    --bg-navbar: rgb(131, 200, 222); /*navbar*/
    --navbar-text: white; /*navbar text*/
    --navbar-text-hover: rgb(70, 139, 158); /*navbar text color on hover*/
    --auto-typing-text: rgb(121, 173, 180); /*auto typing text base*/
    --auto-typing-shadow: rgb(192, 247, 253); /*auto typing text shadow*/
    --title: rgb(169, 118, 149), rgb(123, 92, 137), rgb(60, 152, 164), rgb(61, 171, 166), rgb(169, 118, 149); /*title gradient*/
}

.darkmode .type { /*"I am" text color in dark mode*/
    color: white;
}

html {
    scroll-behavior: smooth; /*allows the anchor links to scroll smoothly to sections*/
    scroll-padding-top: 90px; /*leaves 90px of space above the anchor*/
}

#home,
section[id] {
    scroll-margin-top: 90px; /*leaves 90px of space above all anchors*/
}

/*sets the background color and topographic img*/
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--bg-body);
    background-image: url('images/bg.svg');
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--scrollbar-base-1), var(--scrollbar-base-2), var(--scrollbar-base-3), var(--scrollbar-base-4));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, var(--scrollbar-hover-1), var(--scrollbar-hover-2), var(--scrollbar-hover-3), var(--scrollbar-hover-4));
    opacity: 0.1;
}

/*styles the navbar*/
.navbar {
    position: sticky; /*keeps the navbar throughout the entire page*/
    top: 10px; /*little space from very top*/
    z-index: 1000; /*keeps navbar above everything else*/
    backdrop-filter: blur(10px); /*blurs everything below the navbar*/
    -webkit-backdrop-filter: blur(10px); /*for Safari support*/
}

.navbar ul{
    list-style-type: none;
    background-color: rgba(131, 200, 222, 0.4);
    opacity: 1;
    padding: 0;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(10px); /*blurs everything below the navbar*/
    -webkit-backdrop-filter: blur(10px); /*for Safari support*/
}

.navbar a{
    color: var(--navbar-text);
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    display: block;
    text-align: center;
    font-family: "Stack Sans";
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.navbar li:not(.theme-item):hover /*does not change the color of the moon icon*/,
.navbar a:hover{
    color: var(--navbar-text-hover);
}

.navbar li{
    flex: 0 1 auto;
}

.main {
    min-height: calc(100vh - 66px);
    display: flex;
    flex-direction: column;
}

.navbar li.theme-item {
    margin-left: 25px;
    display: flex;
    align-items: center;
}

#theme-switch { /*moon and sun icons*/
    height: 50px;
    width: 50px;
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border: none;
    outline: none;
    box-shadow: none;
}

/*turns the sun and moon icons white*/
#theme-switch img {
    filter: brightness(0) invert(1);
}

#theme-switch:hover {
    transform: scale(1.4);
    cursor: pointer;
}

#theme-switch img:last-child { /*sun icon will not be visible in default*/
    display: none;
}

.darkmode #theme-switch img:first-child { /*moon icon will not be visible in dark mode*/
    display: none;
}

.darkmode #theme-switch img:last-child { /*sun icon will be visible in dark mode*/
    display: block;
}

.title {
    font-size: 6.25rem;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 1000;
    background: linear-gradient(-90deg, var(--title));
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 4s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


span {
    color: var(--auto-typing-text);
    font-weight: 300;
}

/*auto typing text*/
.type {
    font-size: 40px;
    font-family: "Stack Sans Headline";
    font-weight: 100;
    position: relative;
    top: -50px;
}

/*the about glass card*/
.about {
    width: 700px;
    margin-top: 20px;
    margin-right: 200px; 
    margin-bottom: 20px; 
    margin-left: auto;
    background-color: white 0.4;
    border: 1px solid black;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px); /*blurs everything below the about section*/
    opacity: 1;
     transition: transform 0.3s ease-in-out;
}

/*the paragraph introducing me*/
.about p {
    font-family: "Stack Sans";
    font-weight: bold;
    line-height: 1.5;
    margin-top: 10px;
}

.about:hover {
    transform: scale(1.2);
   
}

/*about section heading*/
.about-header{
    font-size: 3rem;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 1000;
    background: linear-gradient(-90deg, var(--title));
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
}

.modal-content {
    background-color: var(--bg-body);
    margin: 5% auto;
    padding: 2rem;
    width: 80%;
    max-width: 600px;

    max-height: 80vh;
    overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    background: var(--scrollbar);
}

.modal-content::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--scrollbar-base-1), var(--scrollbar-base-2), var(--scrollbar-base-3), var(--scrollbar-base-4));
}
/*
h1.website {
    color: rgb(81, 97, 99);

    text-align: center;

    text-decoration: underline;
    text-decoration-style:wavy;
    text-decoration-thickness: 1.75px;
    text-decoration-color: rgb(152, 198, 204);

    text-shadow: 2px 2px 2px rgb(173, 231, 238);

    opacity: 0.6;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-right: 300px;
    margin-left: 800px;

    font-family: "Patrick Hand SC", cursive;
    text-transform: uppercase;

    letter-spacing: 4px;
    word-spacing: 3px;

    font-size: 40px;
}

p.intro{
    color: rgb(49, 115, 124);
    opacity: 0.8;

    margin-bottom:600px;
    margin-right: 300px;
    margin-left: 900px;

    font-family: "Patrick Hand", cursive;
    line-height: 2;

    font-size: 21px;
}

.footer {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;

    font-family: "Patrick Hand SC", cursive;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

    color: rgb(81, 97, 99);
    opacity: 0.8;

    position: relative;
    bottom: -150px;
}


